<!DOCTYPE html>
	<html>
		<head>
			<head>
				<style>
				.button {
				    background-color: #6495ED;
				    border: none;
				    color: #00008B	;
				    padding: 15px 32px;
				    text-align: center;
				    text-decoration: underline;	
				    text-shadow: 3px 2px red
				    display: inline-block;
				    /*width: 100%;*/
				    font-size: 14px;
				    /*margin: 4px 2px;*/
				    float: left;
				    cursor: pointer;
				}
				</style>

				<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"class="button"><em>Home</em></a></li>
		        	<li><a href="/about"class="button"><em>About</em></a></li>
	        		<li><a href="/cv"class="button"><em>CV</em></a></li>
				<li><a href="/projects"class="button"><em>Projects</em></a></li>
				<li><a href="/publications"class="button"><em>Publications</em></a></li>
	        		<li><a href="/blog"class="button"><em>Blog</em></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:daveaditya96@gmail.com">email</a></li>
	        		<li><a href="https://github.com/adave96">github.com/adave96</a></li>
				</ul>
			</footer>
		</body>
	</html>
